[submodule "third_party/rstudio"]
	path = third_party/rstudio
	url = https://github.com/rocker-org/rocker-versioned2
[submodule "third_party/jupyter"]
	path = third_party/jupyter
	url = https://github.com/jupyter/docker-stacks
[submodule "third_party/vnc"]
	path = third_party/vnc
	url = https://github.com/ConSol/docker-headless-vnc-container
[submodule "third_party/devcontainers-templates"]
	path = third_party/devcontainers-templates
	url = https://github.com/devcontainers/templates
[submodule "third_party/devcontainers-images"]
	path = third_party/devcontainers-images
	url = https://github.com/devcontainers/images
